
.login-container {
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

h2 {
    font-size: 24px;
    margin: 10px 0;
    color: white;
}

.login-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.google-button {
    background-color: bisque;
    color: #7b4397;
    border: #000;
    
    
}

.apple-button {
    background-color: #000;
    color: #fff;
}

.button-logo {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.input-field {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    background-color: bisque;
    color: #7b4397;
    border: none;
}
