  
  /* Style for individual movie cards */
  .movie-card {
    width: calc(33.33% - 20px); /* Each card takes up 1/3 of the container width with some spacing */
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
  }
  .movie-card img {
    max-width: 100%; /* Set the maximum width to the width of the container */
    height: auto; /* Maintain the aspect ratio */
    border-radius: 10px;
  }
  
  /* Responsive design for smaller screens */
  @media (max-width: 768px) {
    .movie-card {
      width: calc(50% - 20px); /* On smaller screens, each card takes up 1/2 of the container width with spacing */
    }
  }
  
  /* Responsive design for even smaller screens */
  @media (max-width: 480px) {
    .movie-card {
      width: 100%; /* On even smaller screens, each card takes up the full container width */
    }
  }