.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.not-found {
    text-align: center;
    padding: 20px;
  }
  
  .not-found h2 {
    font-size: 24px;
    color: bisque; /* You can adjust the color as needed */
  }
  
  .not-found p {
    font-size: 16px;
    color: bisque; /* You can adjust the color as needed */
  }
  